@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
    --cor-botao: #FFB800;
    --cor-botao-foco: #FF900E;
}

* {
    /* resetando os parametros do css */
    /* comentar atalho: ctrl + 2 PONTOS */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 100%;
    /* font-family: 'Roboto', sans-serif; */
}
/* sites guia para o FLEX BOX */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* https://www.alura.com.br/artigos/css-guia-do-flexbox?gclid=CjwKCAjw_tWRBhAwEiwALxFPoSYBwG58-EXlTM2sqU4q61XaGkXGjcFdWtTOzJrdAGO-Blz9FUem8BoCJqIQAvD_BwE */

.header {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;

}

.logo {
    height: 60px;
}

.menu {
    display: flex;
    gap: 65px;
}

.item-menu {
    font-size: 30px;
}

.area-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid gray;
    /* border-bottom: 1px solid; */
    padding: 50px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight:bold;
    gap: 40px;
}

.titulo {
    font-weight: 900 black;
    font-size: 48px;
}

.botao {
    width: 419px;
    height: 109px;
    background-color: var(--cor-botao);
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 700px;
    font-size: 30px;
    cursor: pointer;
    transition: .30s ease-in-out;
}

.botao:hover {
    background-color: var(--cor-botao-foco);
}

.rodape {
    padding: 45px;
    border-top: 2px solid gray;
    text-align: center;
}
